*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;

    background-image: url('https://images.indianexpress.com/2016/02/twitter-gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
}


.container .form{
    height: 50vh;
    width: 30%;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.container .form .ip{
    padding: 7px 10px;
}
 
.container h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container .form .in span{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container  button{
    padding:7px 10px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 5px 5px 5px black;
    border: none;
    background: white;
    color: black;
    border-radius: 5px;
}

.container button:active{
    transition: 0.4s ease-in-out;
    scale: 80%;

}
.btn{
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}